.env
.git
.gitignore
*.log
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/private
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/tests
node_modules
README.md
